<nav class="blue darken-4">
    <div class="nav-wrapper">
        <div class="col s12">
            <div class="brand-logo"> Office of Infectious Diseases</div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a onclick="onLogout()" class="waves-effect btn white red-text text-darken-4"><b>Logout</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>