<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/materialize.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/imageslider.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
