<div class="collection">
    <p class="collection-item active">Menu</p>
    <a class="collection-item" onclick="clickLogi()">About Logi</a>
    <a class="collection-item" onclick="clickSymptoms()">Symptoms, Consequences, & Treatment</a>
    <a class="collection-item" onclick="clickOutbreaks()">Recent Outbreaks</a>
</div>