<div class="collection">
    <p class="collection-item active">Menu</p>
    <a href="/" class="collection-item">About Logi</a>
    <a href="/symptoms" class="collection-item">Symptoms, Consequences, & Treatment</a>
    <a href="/outbreaks" class="collection-item">Recent Outbreaks</a>
</div>