<div class="row" id="sticky-footer">
    <div class="col s12">
        <div class="grey-text text-darken-1" style="font-size: 12px;">
            <span>Page last reviewed: December 7, 2017</span>
            <br/>
            <span>Page last updated: December 7, 2017</span>
        </div>

    </div>
</div>