<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.custom.min.js"></script> 
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/app.js"></script>