<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<title>{{title}}</title>
{{>head}}

<body>

	<div class="row">
		<div class="col s12">
			{{>header}}
		</div>

		<div class="col s12 m4 l3">
			{{>menu}}
		</div>
		<div class="col s9">
			<h4>About Logi</h4>

			<div class="col s7">
				<figure class="cd-image-container">
					<img src="images/water_clean.png" alt="Original Image">
					<span class="cd-image-label" data-type="original">Clean</span>

					<div class="cd-resize-img">
						<img src="images/water_infected.png" alt="Modified Image">
						<span class="cd-image-label" data-type="modified">Infected</span>
					</div>

					<span class="cd-handle"></span>
				</figure>

			</div>
			<div class="col s5">
				<h5>Short</h5>
				<p>Logi is commonly found in soil, rivers and reservoirs, but the source of the bacteria in the current outbreak has not
					yet been determined.
					<br/>
					<br/>People over age 65 and newborn babies, who have at least one serious underlying health condition, or who have weakened
					immune systems are at risk.
					<br/>
					<br/>Its transmission route remains unknown.
				</p>

				<h5>Long</h5>
				<p>
					Logi is commonly found in soil, rivers and reservoirs, but the source of the bacteria in the current outbreak has not yet
					been determined. CDC is assisting with testing samples from patients and a variety of potential sources, including healthcare
					products, water sources and the environment. To date, none of these have been found to be a source of the bacteria.
					<br/>
					<br/> People over age 65 and newborn babies, who have at least one serious underlying health condition, or who have weakened
					immune systems are at risk. Even though 18 patients who tested positive for the Logi infection in this outbreak have
					died, the patients’ other serious health conditions could lead to death.
					<br/>
					<br/> Its transmission route remains unknown. Product and environmental samples from facilities that have treated patients
					with Logi anophelis infections have tested negative for Logi anophelis, and no evidence suggests that Logi has been
					spread by a single healthcare facility. Patients who have been treated in the same units where the Logi anophelis infection
					has been discovered have tested negative for Logi based on nose and throat swabs, indicating no person-to-person spreading
					of the bacteria.

				</p>

				<p>
					For consultation or questions about confirmatory testing, please contact CDC’s Special Bacteriology Reference Laboratory
					at
					<a href="mailto:SBRL@cdc.gov">SBRL@cdc.gov</a>.
				</p>

			</div>




		</div>
	</div>

	{{>script}}

</body>

</html>