<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<title>{{title}}</title>
{{>head}}

<body id="root" data-id="{{id}}" data-participant="{{participantID}}" data-slider="{{slider}}" data-text="{{text}}">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <div class="row">
        <div class="col s12">
            {{>header}}
        </div>

        <div class="col s12 m4 l3">
            {{>menu}}
        </div>
        <div class="col s9">
            <div id="content-logi">

                <div class="col s7">
                    <br/>
                    <div class="ba-slider">
                        <img src="../images/water_clean.png" alt="clean">
                        <div class="resize">
                            <img src="../images/water_infected.png" alt="infected">
                        </div>
                    </div>
                </div>
                <div class="col s5">
                    <h4>About Logi</h4>
                    {{{content.logi}}}
                </div>
            </div>

            <div id="content-symptom">

                <div class="col s5">
                    <div class="ba-slider">
                        <img src="../images/body_clean.png" alt="clean">
                        <div class="resize">
                            <img src="../images/body_infected.png" alt="infected">
                        </div>
                    </div>
                </div>
                <div class="col s7">
                    <h4>Symptoms, Consequences, and Treatment</h4>
                    {{{content.symptom}}}
                </div>
            </div>

            <div id="content-outbreak">
                <h4>Recent Outbreaks</h4>
                <div class="col s6">
                    <img class="responsive-img" src="../images/map_oct.png" alt="Modified Image">
                </div>
                <div class="col s6">
                    <img class="responsive-img" src="../images/map_nov.png" alt="Original Image">
                </div>
                <div class="col s12">
                    {{{content.outbreak}}}
                </div>
            </div>
        </div>
    </div>

    {{>script}}

</body>

</html>