<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<title>{{title}}</title>
{{>head}}

<body>

    <div class="row">
        <div class="col s12">
            {{>header}}
        </div>

        <div class="col s12 m4 l3">
            {{>menu}}
        </div>
        <div class="col s9">
            <h4>Recent Outbreaks</h4>

            <div class="col s7">
                    <figure class="cd-image-container">
                        <img src="../images/map_nov.png" alt="Original Image">
                        <span class="cd-image-label" data-type="original"></span>
        
                        <div class="cd-resize-img" style="width: 100%">
                            <img src="../images/map_oct.png" alt="Modified Image">
                            <span class="cd-image-label" data-type="modified"></span>
                        </div>
        
                        <span class="cd-handle map"></span>
                    </figure></div>


            <div class="col s5">

                    <h5>Short</h5>
                    <p>Logi has been detected in soil, river water and reservoirs.
                        <br/>
                        <br/>About 5-10 cases per state per year are reported in the United States.
                        <br/>
                        <br/>The bacteria Logi anophelis has infected 59 people in Wisconsin and one person in Michigan.
                    </p>
        
                    <h5>Long</h5>
                    <p>
                        Logi has been detected in soil, river water and reservoirs. This bacteria can be found throughout the world. While its range
                        won’t be expanding, its potential rise is linked to the evolution of antibiotic resistance.
                        <br/>
                        <br/> About 5-10 cases per state per year are reported in the United States. A few small, localized outbreaks
                        are reported in both the U.S. and other countries, usually in healthcare settings.
                        <br/>
                        <br/> An outbreak of a rare bacterial illness that first appeared in Wisconsin has now popped up in two nearby
                        states. A patient there died of an infection with the bacteria Logi anophelis — the same bacteria that has
                        infected 59 people in Wisconsin and one person in Michigan. So far, the bacteria has been linked with 20
                        deaths.
                    </p>
            </div>


        </div>
    </div>

    {{>script}}

</body>

</html>