<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/materialize.min.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" href="/css/login.css" type="text/css" />

<body id="root" class="container" data-id="{{id}}">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <div class="grandParentContaniner">
        <div class="parentContainer">
            <div class="card hoverable" id="loginForm">
                <div class="card-content">
                    <span class="card-title">Participant Login</span>
                    <div class="input-field">
                        <input id="participantID" type="text" class="validate">
                        <label for="participantID">Enter your ID provided from Qualtrics</label>
                    </div>
                    <br/>
                    <center>
                        <button onclick="onSurveyStart()" class='col s12 btn btn-large waves-effect indigo'>Start Survey</button>
                    </center>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/preloader.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>