.collection {
  margin: 1rem 0 0 0;
}

.collection a.collection-item {
  color: #0d47a1;
  cursor: pointer;
}

.collection .collection-item.active {
  background-color: #0d47a1;
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url('../images/preloader.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}